{% extends 'base.html.twig' %}

{% block title %}Be Nice Beaulieu
{% endblock %}

{% block body %}
	<div id="home">
		<div id="home_text">
			<h1>Be nice, Beaulieu !</h1>

			<button>play</button>
		</div>
	</div>
{% endblock %}
