{% extends 'base.html.twig' %}

{% block title %}Be Nice Beaulieu
{% endblock %}

{% block body %}
	<div id="home">
		<div id="home_text">
			<h1>Be nice, Beaulieu !</h1>

			<div>
				<a type="button" href="{{ path('app_stage', {id: 1}) }}">play</a>
			</div>
		</div>
	</div>
{% endblock %}
