:root {
  --answer-background-color: #C38400;
  --text-color-answer-background: #FFF8EE;
  --dark-background-color: black;
  --place-background-color: #FFF7E6;
  --button-background-color: #C2554F;
  --text-color-dark-background: white;
  --body-font-family: 'Liberation Serif', sans-serif;
  --text-font-family: 'Liberation Sans', sans-serif;
}

body {
  font-family: var(--body-font-family)
}

/* HOME PAGE */
#home {
  background-image: url('../images/map_v2.png');
  background-size: cover;
  height: 100vh;
  opacity: 90%;
}

#home_text {
  display: flex;
  flex-direction: column;
}

#home_text>h1 {
  align-self: center;
  color: rgb(5, 2, 17);
  font-size: 110px;
  margin-top: 280px;
}

#home_text>div {
  background-color: var(--button-background-color);
  border: none;
  border-radius: 5px;
  align-self: center;
  margin-top: 150px;
  padding: 10px;
}

#home_text>div>a {
  color: var(--text-color-dark-background);
  font-family: var(--body-font-family);
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

/* PROGRESS */
#progress {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 800px;
  width: 1200px;
  margin: 10px auto;
  padding: 10px;
}

#progress_character {
  border: 1px solid black;
  width: 20vw;
}

#progress_place {
  background-image: url('../images/illustration_1.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 60vw;
}

#progress_text {
  background-color: var(--dark-background-color);
  color: var(--text-color-dark-background);
  font-family: var(--text-font-family);
  line-height: 1.5em;
  padding: 10px;
  text-align: justify;
  width: 20vw;
}

#answer {
  background-color: var(--answer-background-color);
  color: var(--text-color-answer-background);
  cursor: pointer;
  max-width: fit-content;
  margin-top: 10px;
  padding: 10px;
}

#continue {
  background-color: var(--button-background-color);
  border: none;
  color: var(--text-color-dark-background);
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
}