body {
  font-family: 'Liberation Serif', sans-serif;
}

/* HOME PAGE */
#home {
  background-image: url('../images/map_v2.png');
  background-size: cover;
  height: 100vh;
  opacity: 90%;
}

#home_text {
  display: flex;
  flex-direction: column;
}

#home_text>h1 {
  align-self: center;
  color: rgb(5, 2, 17);
  font-size: 110px;
  margin-top: 280px;
}

#home_text>div {
  background-color: rgb(180, 1, 1);
  border: none;
  border-radius: 5px;
  align-self: center;
  margin-top: 150px;
  padding: 10px;
}

#home_text>div>a {
  color: white;
  font-family: 'Liberation Serif', sans-serif;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

/* PROGRESS */
#progress {
  font-family: 'Liberation Sans', sans-serif;
}
