{% extends 'base.html.twig' %}

{% block title %}Hello ProgressController!
{% endblock %}

{% block body %}
	<div id="progress">
		<p>{{ explanation.text }}</p>
	</div>

	<audio controls>
		<source src="{{ asset('audio/audio_001.mp3') }}" type="audio/mp3">
		Your browser does not support the audio element.
	</audio>
{% endblock %}
